.c-map__description {
    text-align: center;
    font-size: 1.2rem;

    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

.c-map__wrapper {
    position: relative;
    margin: 0 auto;
    height: 512px;

    @media (max-width: 576px) {
        height: 320px;
    }
}

.c-map__buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    button {
        margin: 0;
        display: inline-flex;
        padding: 2px 6px;
        color: var(--color-grey-900);
        border: 1px solid currentColor;
        border-radius: 8px;

        &:hover {
            color: var(--color-white);
            background-color: #ad5857;
        }

        &:focus {
            color: var(--color-white);
            background-color: #f8a900;
        }
    }
}

.hoverinfo__row:after {
    content: '';
    display: table;
    clear: both;
}

.hoverinfo__column-1 {
    float: left;
    width: 32px;
}

.hoverinfo__column-2 {
    float: left;
    padding: 0 5px;
}
