<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metaTitle or title }} - {{ site.title }}</title>
    <meta property="og:title" content="{{ metaTitle or title }} - {{ site.title }}" />

    <meta name="description" content="{{ metaDescription or site.metaDescription }}">
    <meta name="og:description" content="{{ metaDescription or site.metaDescription }}">
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url + page.url }}"/>
    <meta name="author" content="{{ site.author }}">

    {% if ignore %}
    <meta name="robots" content="noindex"/>
    {% endif %}

    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

    {% if image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta property="og:image" content="{{ site.url }}{{ image }}" />
      <meta name="twitter:image" content="{{ site.url }}{{ image }}" />
      <meta property="og:image:alt" content="Page image for {{ title }}" />
      <meta name="twitter:image:alt" content="Page image for {{ title }}" />
    {% endif %}
    
    <style>
      :root {
        --color-primary: {{ site.primaryColor }};
        --color-secondary: {{ site.secondaryColor }};
      }
      {% include "css/main.css" %}
    </style>

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>

    {% if site.googleAnalyticsId and env.isProd %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsId }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', '{{ site.googleAnalyticsId }}', {'anonymize_ip': true});
    </script>
    {% endif %}

  </head>
  <body class="{{bodyClass}}">
    <header class="l-header">
        {% include "components/navigation.njk" %}
    </header>

    <main>
        {% block content %}
            <div class="l-container">
                {% if icon %}
                <img class="l-container__icon" src="{{icon}}" alt="" />
                {% endif %}
                <h1>{{title}}</h1>
                {{content | safe}}
            </div>
        {% endblock content %}
    </main>

    <footer class="l-footer">
      {% include "components/footer.njk" %}
    </footer>
  </body>
</html>