{% extends 'layouts/base.njk' %}

{% block content %}
    <main>
        <section>
            <div class="l-container">
                {% if icon %}
                <img class="l-container__icon" src="{{icon}}" alt="" />
                {% endif %}
                <h1>{{ selectedTag | noEmoji }}{{ title }}</h1>
                {% if not selectedTag %}
                    {% include 'components/taglist.njk' %}
                {% endif %}
            </div>
        </section>
        <section class="u-bgc-grey-100">
            <div class="l-container">
                <div class="c-card__wrapper">
                    {% for dino in collections.dinos | nameAscending %}
                        {% if dino.data.tags %}
                            {% if not selectedTag or selectedTag in dino.data.tags %} {# If we don't have a selectedTag, we are on the all dinos page #}
                                <div class="c-card">
                                    {% image dino.data.image, "c-card__image", dino.data.title, "(min-width: 1150px) 25vw, (min-width: 850px) 33vw, (min-width: 550px) 50vw, 100vw" %}
                                    <div class="c-card__info">
                                        <div>
                                            {% for tag in dino.data.tags %}
                                                <abbr class="c-card__tag-abbr" title="{{ tag | noEmoji }}">{{ tag | onlyEmoji | safe }}</abbr>
                                            {% endfor %}
                                        </div>
                                        {% if dino.data.time %}
                                            <div class="card__time">
                                                {% include 'icons/time.svg' %}
                                                {{ dino.data.time }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <a class="c-card__title-wrapper" href="{{ dino.url }}">
                                        <h3 class="c-card__title">{{ dino.data.title }}</h3>
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% if selectedTag %}
            <section>
                <div class="l-container">
                    {% include 'components/taglist.njk' %}
                </div>
            </section>  
        {% endif %}
    </main>
{% endblock %}