{% extends 'layouts/base.njk' %}
{% block content %}
    {% image image, "c-dino__header-image", title, "100vw" %}
    <h1 class="c-dino__title">{{ title }}{% if namesuffix %}<span> {{ namesuffix }}</span>{% endif %}</h1>
    <span class="c-dino__meaning">Bedeutung: {{ meaning }}</span>
    <section>
        <div class="l-container">
            <div class="c-dino__dino-content-wrapper">
                <div class="c-dino__tag-list">
                    {% for tag in tags %}
                        <a class="c-tags__tag" href="/tags/{{ tag | noEmoji | slug }}/">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="c-dino__facts-wrapper">
                    {% if years %}
                        <h3>Lebenszeit</h3>
                        <p>vor {{ years }} Millionen Jahren</p>
                    {% endif %}
                    {% if family %}
                        <h3>Familie</h3>
                        <p>{{ family }}</p>
                    {% endif %}
                    {% if location %}
                        <h3>Fundort</h3>
                        <p>{{ location }}</p>
                    {% endif %}
                    {% if finder %}
                        <h3>Gefunden von</h3>
                        <p>{{ finder }}</p>
                    {% endif %}
                    {% if food %}
                        <h3>Ernährung</h3>
                        <p>{{ food }}</p>
                    {% endif %}
                    {% if weight %}
                        <h3>Gewicht</h3>
                        <p>{{ weight }}</p>
                    {% endif %}
                    {% if size %}
                        <h3>Länge</h3>
                        <p>{{ size }}</p>
                    {% endif %}
                </div>
                <div class="c-dino__description-wrapper u-free-text">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}