---
bodyClass: c-map
---

{% extends 'layouts/base.njk' %}

{% block content %}
<section>
    <div class="l-container">
        {% if icon %}
        <img class="l-container__icon" src="{{icon}}" alt="" />
        {% endif %}
        <h1>{{title}}</h1>
        <p class="c-map__description">{{description}}</p>
    </div>
</section>
<section>
    <div class="l-container">
        <div class="c-map__select" x-data="dinoSelection()">
        <select @change="select($event)" x-model="selectedDino">
        <option selected value="none">&gt; 🦖 Dino auswählen &lt;</option>
        {%- for dino in collections.dinos | withLocations | nameAscending -%}
        <option data-url="{{dino.url}}" data-locations="{{dino.data.locations}}">{{dino.data.title}}</option>
        {%- endfor -%}
        </select>
        </div>
        <div class="c-map__wrapper" id="map"></div>
    </div>
</section>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="/js/datamaps.world.min.js?v=1"></script>
<script src="/js/map.js"></script>
{% endblock %}
