---
permalink: /data/locations.json
eleventyExcludeFromCollections: true
---
[
{%- for dino in collections.dinos | withLocations -%}
{
    "title" : "{{ dino.data.title }}",
    "url" : "{{ dino.url }}",
    "locations" : [{% for location in dino.data.locations %}"{{location}}"{% if not loop.last %},{% endif %}{% endfor %}]
}{% if not loop.last %},{% endif %}
{%- endfor -%}
]