---
permalink: search.json
eleventyExcludeFromCollections: true
---
[
    {% for dino in collections.dinos %}
        {
            "title" : "{{ dino.data.title }}",
            "url" : "{{ dino.url }}",
            "tags" : [{% for tag in dino.data.tags %}"{{tag}}"{% if not loop.last %},{% endif %}{% endfor %}]
        }{% if not loop.last %},{% endif %}
    {% endfor %}
]